div{  
    background-color: rgb(236, 135, 135);
    float: left;
    padding: 30px 80px 30px 50px;
    margin: 30px 20px 0px 20px;
    border-radius: 30px;
  }

.y{
background-color: rgb(155, 236, 135);
    float: left;
    padding: 30px 80px 50px 50px;
    margin: 30px 20px 0px 20px;
    border-radius: 30px;

}

#x{
width: 25px;
height: 25px;
padding: 20px;

}